torch==2.4.0+cu121
tokenizers==0.21.0
transformers==4.49.0
huggingface_hub==0.28.1
moshi==0.2.2
torchtune==0.4.0
torchao==0.9.0
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
torchaudio==2.4.0+cu121 
torchvision==0.17.0+cu121 
sounddevice==0.4.7
SpeechRecognition==3.10.0
wheel==0.42.0
setuptools==68.0.0
ninja==1.11.1
triton-windows==2.0.0
faster-whisper==1.1.1
